body{
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;

}

li{
  border-radius: 25px;
  border: solid black;
  margin-bottom: 0.5em;
  display: block;
  background:yellow;
  padding: 10px; 
  width: 105px;
  text-align: center;
  height: 20px;
  font-size: 20px;  
  
}
  h1{
    font-style: oblique;
    font-size: 50px;
    text-align: center;
  }
 ul{
 
    list-style-type:none;
    }
 