li{
  border-radius: 25px;
  border: solid black;
  background:yellow;
  padding: 10px; 
  width: 90px;
  height: 20px;
  font-size: 20px;  
  
}
  h1{
    font-style: oblique;
    font-size: 50px;
    text-align: center;
  }
 ul{
 
    list-style-type:none;
    }
 